C#/Calculator/.idea/.idea.Calculator/.idea/workspace.xml
C#/Project_Euler/bin/Debug/Project_Euler.exe


# Ignore .idea folder
.idea/

# Ignore .vscode folder
.vscode/

#Ignore _pycache_ folder
__pycache__/