@media only screen and (max-width: 600px) {

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px; /* Ändere die Schriftgröße nach Bedarf, um den Knopf zu vergrößern */
  color: white;
  cursor: pointer;
}

/* Round Score Cells */
.round-cell input {
  width: 50px; 
  text-align: center;
  box-sizing: border-box;
  font-size: 30px;
  background-color: hsla(0, 2%, 12%, 0.835);
  color: white;
  border: none;
}

/* Score Cells */
.score-input {
  width: 40px; 
  color: white; 
  font-size: 30px; 
  background-color: hsla(0, 2%, 12%, 0.835);
}

/* Sum Cells at the End of the Table */
.sum-cell {
  background-color: hsl(0, 0%, 90%); /* Hintergrundfarbe der Summen-Zeile */
}

/* Header Cells */
#scoreTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 30px; 
}

#scoreTable th,
#scoreTable td {
  padding: 10px;
  text-align: center;
}

#playerCountRow th {
  background-color: #d61a1ad5; /* Hintergrundfarbe der Spieler-Namen-Zeile */
}

#scoreTable th {
  background-color: hsla(0, 2%, 12%, 0.1); /* Hintergrundfarbe der Header-Zeile */
  color: white; /* Textfarbe der Header-Zeile */
}

#scoreTable td {
  border: 1px solid #ddd;
}

}